table{
	height: 100%;
}
.nav{
	width:200px;
	/*width: 20;*/
	font-family: 'Helvetica';
	/*text-align: center;*/
	color: #424242;
	font-size: 14px;
	background-color: black;
}
.slides{
	/*background-color: #999;*/
	width: 90%;
	text-align: center;
}

/*@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
}*/

#something-button{
	background-color: #6e9bb1f7;
	border: none;
	/*color: white;*/
	height: 30px;
	width: 60px;
	border-radius: 10%;

}
img.koala {
	display: none;
}

body {
	/*font-family: 'IBM Plex Sans Condensed', sans-serif;*/
	/*font-family: 'Lora';*/
	/*display:flex;*/
	font-family: 'Helvetica';
	/*text-align: center;*/
	color: #424242;
	font-size: 14px;
	background-color: black;
}
ul{
	list-style-type:none;
	padding:0;
	margin: 0;
}
a{
	text-decoration: none;
	color:#424242;
	transition: color .5s ease-out;
}
a:visited{
	color:#424242;
}
a:hover{
	color:#6e9bb1f7;
}
h2{
	font-family: 'IBM Plex Sans Condensed', sans-serif;
	text-transform: lowercase;
	font-weight: 100;
	color: #6e9bb1f7;
}


h1{
	font-family: 'IBM Plex Sans Condensed', sans-serif;
	text-transform: lowercase;
	font-weight: 100;
	color: #6e9bb1f7;
}


/*.spotlightspace{
	min-width: 1000px;
	max-width: 1000px;
	background-color: blue;
}*/
.spotlightimage{
	/*display:block;
	opacity: 1;
	position: absolute;*/
	/*top: 100%;*/
	/*left: 50%;*/
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	z-index: 1;
	/*align-self:flex-start;*/
	/*flex-wrap: ;
	flex-direction: column;*/
	/*transform: translate(30%, 30%); relative to image...what change to make random*/
	max-width: 80%;
	/*transition: opacity .2s ease-out;*/
	/*position: absolute;*/
	/*top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);*/
}

img.notspotlighted{
	display: none;
}

