body {
	background-color: #000000;
}

.small-pics{
	height: 33%;
/*	margin-top: 0;
	margin-bottom: 0;*/
}
.big-pics{
	/*display: inline;*/
	/*width: 5vw;*/
	margin: auto;

}
#page-menu{
	/*color: white;*/
	/*text-align: center;*/
	vertical-align: top;
	/*margin-left:0;
	margin-right: auto;*/
	width: 160px;
	padding-right: 158px;
	/*display: block;*/
}
.page-captions{
	padding-bottom: 22px;
	/*padding-bottom: auto;*/
}
/*.page-captions:hover {
	padding-bottom: 12px;
	color: white;
}*/
.caption-text{
	color: #464a4a;
	text-align: left;
	font-size: 12;
	font-family: sans-serif;
	text-decoration: none;
	transition: color .2s ease-out;
}
.caption-text:hover{
	color: #aee1fe;
	text-align: left;
	font-size: 12;
	font-family: sans-serif;
}
#current {
	color: #aee1fe;
	text-align: left;
	font-size: 12;
	font-family: sans-serif;
}

#page-table{
	width: 1400px;
}


.circle {
	position: fixed;
	bottom: 1vw;
	right: 1vw;
	height: 15px;
	width: 15px;
	background-color: #555;
	border-radius: 50%;
}