body{
	background-color: #c8e6c9;
}
nav{
	width: 100%;
	text-align: center;
	color: white;
}
a{
	text-decoration: none;
	color:gray;
}
a:hover{
	color: #aee1fe;
}
#logo{
	width: 50px;
}
#main-container{
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	position: absolute;
	bottom: 10px;
	/*right: 50%;*/
	/*transition: translate(-50%);*/
	text-align: center;
	-webkit-transition: bottom 1s ease-out;
    -moz-transition: bottom 1s ease-out;
    -o-transition: bottom 1s ease-out;
    
}
#main-container:hover{
	bottom: 50px;
	color: yellow;
}
h1, h4, h3{
	font-family: sans-serif;
	
}

h1 {
	font-weight: 900;
	font-size: 50px;
	margin: 0;
}
.telugu{
	font-family:'Chathura', serif;
	font-size: 80px;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}

h4{
	font-weight: 200;
	margin: 0;
}
h3{
	font-weight: 800;
}
